
/* header {
    display:  flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: #333;
    color: white;
    align-items: center;
    justify-content: space-between;
} */

nav {
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
}

nav a {
    text-decoration: none;
    color: black;
    transition: 2s;
    padding: 0.5% 0;
}

nav a:hover{
    color: #767676;
}