<p>rooms works!</p>

<!-- interpolation binding syntax -->
<h1>Welcome to the {{hotelName}}</h1>

<div [hidden]="hideRooms">
    <!-- property binding -->
    Number of rooms:
    @if (rooms.availableRooms > 0) {
        <div [ngStyle]="{color: 'green'}" 
        [innerText]="noOfRooms"></div>
    } @else {
        <div [ngStyle]="{color: 'red'}" 
        [innerText]="noOfRooms"></div>
    }
</div>

<!-- {{roomList | json}} -->
<!-- {{ rooms.availableRooms ?? 'No rooms' }} -->

@if (selectedRoom) {
    <div>{{ selectedRoom | json}}</div>
}

@if(rooms.availableRooms > 0) {
<div>
    <hinv-rooms-list [rooms]="roomList"
    (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>
}

<!-- event binding -->
<button (click)="toggle()">Toggle</button>