<p>rooms works!</p>

<!-- interpolation binding syntax -->
<!-- <h1>Welcome to the {{hotelName}}</h1> -->
 <hinv-header></hinv-header>

<div [hidden]="hideRooms">
    <!-- property binding -->
    Number of rooms:
    @if (rooms.availableRooms > 0) {
        <div [ngStyle]="{color: 'green'}" 
        [innerText]="noOfRooms"></div>
    } @else {
        <div [ngStyle]="{color: 'red'}" 
        [innerText]="noOfRooms"></div>
    }
</div>

<!-- {{roomList | json}} -->
<!-- {{ rooms.availableRooms ?? 'No rooms' }} -->

@if (selectedRoom) {
    <div>{{ selectedRoom | json}}</div>
}

<div>
    <button (click)="addRoom()">Add Room</button>
</div>

@if(hideRooms) {
<div>
    <hinv-rooms-list [rooms]="roomList" [title]="title"
    (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>
}

<!-- event binding -->
<button (click)="toggle()">Toggle</button>